<h2>Welcome to your Rails Todo List </h2>
<h4> <%= link_to 'Create a new todo', new_todo_path %>
</h4>


<% @todos.each do |todo| %>
<div class="single-todo">
  <div>
    Name <%= todo.name  %>
  </div>
  <div>
    Description: <%= todo.description  %>
  </div>

  <div>
  Comments:
  <% todo.todo_comments.each do |comment|  %>
      <%= comment.content %>
      <% end %>
  </div>

  <div>


    <%= link_to 'View', todo_path(todo), 'data-disable-with': 'Processing...' %>
    <%= link_to 'Edit', edit_todo_path(todo) %>
    <%= link_to 'Add Comment', new_todo_todo_comment_path(todo) %>
    <%= link_to 'Delete', todo_path(todo), class:'delete-todo' %>


  </div>

</div>

<% end %>
