<h2>Welcome to your Rails Todo List </h2>
<h4> <%= link_to 'Create a new todo', new_todo_path %>
</h4>
<% @todos.each do |todo| %>
<div>
  Name <%= todo.name  %>
</div>
<div>
  Description: <%= todo.description  %>
</div>
<div>

  <%= link_to 'View', todo_path(todo), 'data-disable-with': 'Processing...' %>
  <%= link_to 'Edit', edit_todo_path(todo) %>
  <%= link_to 'Delete', todo_path(todo), method: "DELETE", data: { confirm: "Are you sure you want to delete this?" }  %>


</div>

<% end %>
