<h2>Welcome to the muffin </h2>
<h4> <a href="<%= new_muffin_path %>"> Create a Muffin  </a></h4>

<% @muffins.each do |muffin| %>
<div>
  Name <%= muffin.name  %>
</div>
<div>
  Description: <%= muffin.description  %>
</div>

<div>
  Category: <%= muffin.category  %>
</div>

<div>
  Price: <%= muffin.price  %>
</div>

<div>
  Available Until: <%= muffin.available_until  %>
</div>
<div>

  <a href="<%=muffin_path(muffin)%>" data-disable-with=“Processing…”> View Details</a>

  <a href="<%=edit_muffin_path(muffin)%>"> Edit </a>

  <a href="<%=muffin_path(muffin)%>" data-method="DELETE"> Delete </a>


</div>

<% end %>
